*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main
{
    max-width: 1500px;
    margin: 0px,auto;
    padding: 20px;
}
nav>ul 
{
    padding: 20px 40px;
    display: flex;
    list-style: none;
    justify-content: left;
    gap: 20px;
}
table
{
    margin: 40px auto;
}
body
{
    font-family: serif;
    line-height: 1,6;
    color: #333333;
    border: 4px solid #6fa8dc;
    border-image: linear-gradient(to left, #003366, #00C6FF) 1;
    border-radius: 5px;
    background-color: #eef2f5;
}

.titre 
{
    font-family: Arial, Helvetica, sans-serif;
    color:#004488;
    margin-bottom: 20px;
    margin: 20px 0 ;
}
figure
{
    background: white;
    padding: 15px;
    margin: 40px auto;
    border: 3px solid transparent;
    background: 
        linear-gradient(white, white) padding-box, 
        linear-gradient(to left, #003366, #00C6FF) border-box; 
    border-radius: 10px;
    text-align: center;
    width: fit-content;
}
header
{
    display: flex;
    padding: 40px 20px;
    align-items: center;
    border-bottom: 4px solid;
    border-image: linear-gradient(to left, #003366, #00C6FF) 1;
}
header img
{
    width: auto;
    height: 150px;
    padding: 10px;
}
figure img
{
    width: 100%;
    height: auto;
    border-radius: 4px;
}
figure figcaption
{
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
    color: #666;
}
nav>ul>li>a
{
    text-decoration: none;
    color:#004488;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase; /* Met tout en majuscules auto */
    font-size: 0.9rem;         /* Souvent un poil plus petit que le texte */
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 10px;
}
nav>ul>li>a:hover
{
    background-color: #6fa8dc;
    color: white;
}
footer
{
    text-align: center;
    margin-top: 20px;
    border-top: 4px solid #6fa8dc;
    border-image: linear-gradient(to left, #003366, #00C6FF) 1;
    padding: 20px; 
}
main p
{
    display: block;
}
#shema img
{
    width: 400px;
    height: auto;
}
header nav
{
    border-left: 4px solid #6fa8dc;
    border-image: linear-gradient(to left, #003366, #00C6FF) 1;
}
#homme-intero
{
    height: 200px;
    width: auto;
}
#logo-entreprise
{
    height: 200px;
    width: auto;
}
#liste
{
    margin: 10px 30px;
}