*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main
{
    max-width: 1500px;
    margin: 0px, auto;
    padding: 20px;
}

header img {
    width: auto;
    height: 150px;
    padding: 10px;
    background-color: white; 
    border-radius: 30px; 
    border: 1px solid #000000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
    padding: 15px 40px;
    padding-top: 30px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

nav>ul 
{
    display: flex;
    list-style: none;
    justify-content: left;
    gap: 35px;
}
body
{
    font-family: serif;
    line-height: 1.6;
    color: #333333;
    border: 4px solid #6fa8dc;
    border-image: linear-gradient(to left, #003366, #00C6FF) 1;
    border-radius: 5px;
    background-color: #eef2f5;
}

.titre 
{
    font-family: Arial, Helvetica, sans-serif;
    color:#004488;
    margin-bottom: 20px;
    margin: 20px 0 ;
}
figure
{
    background: white;
    padding: 15px;
    margin: 40px auto;
    border: 3px solid transparent;
    background: 
        linear-gradient(white, white) padding-box, 
        linear-gradient(to left, #003366, #00C6FF) border-box; 
    border-radius: 10px;
    text-align: center;
    width: fit-content;
}
header
{
    display: flex;
    padding: 40px 20px;
    align-items: center;

    border-bottom: 4px solid;
    border-image: linear-gradient(to right, #003366, #00C6FF) 1;
    background-image: url('img/backgroundHeader.png');
    background-repeat: repeat;
    background-size: 500px;
}
header img
{
    width: auto;
    height: 200px;
    padding: 10px;
}
figure img
{
    width: 100%;
    height: auto;
    border-radius: 4px;
}
figure figcaption
{
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
    color: #666;
}
nav>ul>li>a
{
    text-decoration: none;
    color:#004488;
    background-color: rgba(49, 34, 248, 0.37);
    border: 1px solid #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase; /* Met tout en majuscules auto */
    font-size: 0.9rem;         /* Souvent un poil plus petit que le texte */
    letter-spacing: 1px;
    padding: 15px;
    border-radius: 10px;
}
nav>ul>li>a:hover
{
    background-color: #6fa8dc;
    color: white;
}
footer
{
    text-align: center;
    margin-top: 20px;
    border-top: 4px solid #6fa8dc;
    padding: 60px 20px;
    background-image: url('img/backgroundHeader.png');
    background-repeat: repeat;
    background-size: 500px;
}

footer address
{
    font-style: normal;
    display: inline-block;
    width: auto;
    padding: 10px;
    backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 1px solid #000000;
}
footer p
{
    
    background-color: rgba(49, 34, 248, 0.37);
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

footer address p strong {
    color: #004488;
}

main p
{
    display: block;
}
#shema img
{
    width: 400px;
    height: auto;
}
#homme-intero
{
    height: 200px;
    width: auto;
}
#logo-entreprise
{
    height: 200px;
    width: auto;
}
#liste
{
    margin: 10px 30px;
}
th, td 
{
    padding: 15px; 
    border: 1px solid royalblue;
    text-align: left;
}
table 
{
    margin: 40px auto;
}