*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main
{
    max-width: 1500px;
    margin: 0px,auto;
    padding: 20px;
}
nav>ul 
{
    padding: 20px 40px;
    display: flex;
    list-style: none;
    justify-content: left;
    gap: 20px;
}
body
{
    font-family: sans-serif;
    line-height: 1,6;
    color: darkslategrey;
    border: 4px solid lightblue;
    border-radius: 5px;
}

h1,h2 
{
    font-family: serif;
    color:#FF7F50;
    margin-bottom: 20px;
}
header
{
    display: flex;
    padding: 20px 20px;
    align-items: center;
    border-bottom: 4px solid lightblue;
    background: linear-gradient(to right, #eea849, #f46b45); 
}
header img
{
    width: 200px;
    height: 200px;
    border: 5px solid lightblue;
    border-radius: 30%;
}
figure
{
    margin: 20px 0px;
    background-color: lightblue;
    padding: 20px;
    border: 1px solid red ;
    border-radius: 5px;
}
figure img
{
    width: 100%;
}
figure figcaption
{
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
    color: darkslategrey;
}
nav>ul>li>a
{
    text-decoration: none;
    color: darkslategrey;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
}
nav>ul>li>a:hover
{
    background-color: lightblue;
    color: white;
}
footer
{
    text-align: center;
    margin-top: 20px;
    border-top: 4px solid lightblue;
    padding: 20px;
    background: linear-gradient(to right, #eea849, #f46b45); 
}
main p
{
    display: block;
}