*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main
{
    max-width: 1500px;
    margin: 0px,auto;
    padding: 20px;
}
nav>ul 
{
    padding: 20px 40px;
    display: flex;
    list-style: none;
    justify-content: left;
    gap: 20px;
}
body
{
    font-family: serif;
    line-height: 1,6;
    color: #333333;
    border: 4px solid #6fa8dc;
    border-radius: 5px;
    background-color: #eef2f5;
}

.titre 
{
    font-family: Arial, Helvetica, sans-serif;
    color:#004488;
    margin-bottom: 20px;
}
.illustration
{
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
    margin: 40px 0;
    border: 1px solid #eee;
}
header
{
    display: flex;
    padding: 40px 20px;
    align-items: center;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, #003366, #00C6FF) 1;
}
header img
{
    width: auto;
    height: 150px;
    padding: 10px;
}
.illustration img
{
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.illustration figcaption
{
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
    color: #666;
}
nav>ul>li>a
{
    text-decoration: none;
    color:#004488;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase; /* Met tout en majuscules auto */
    font-size: 0.9rem;         /* Souvent un poil plus petit que le texte */
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 10px;
}
nav>ul>li>a:hover
{
    background-color: #6fa8dc;
    color: white;
}
footer
{
    text-align: center;
    margin-top: 20px;
    border-top: 4px solid #6fa8dc;
    padding: 20px; 
}
main p
{
    display: block;
}
